
@font-face {
    font-family: 'BebasNeue';
    src: url('./Fonts/AnyConv.com__BebasNeue-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/AnyConv.com__Manrope-VariableFont_wght.woff2');
    font-style: normal;
}
:root {
    --font-family-heading: 'BebasNeue', arial;
    --font-family-text: 'Manrope', sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-violet: #676BFF;
    --font-size-subheading: 32px;
    --font-size-heading-1: 101px;
    --font-size-heading-2: 76px;
    --font-size-secondary-1: 18px;
    --font-size-secondary-2: 16px;
    --button-height: 54px;
    --button-border-radius: 100px;
    --image-border-radius: 16px;
    --secondary-border-radius: 12px; 
}
* {
    box-sizing: border-box;
    font-family: var(--font-family-text);
}