
@font-face {
    font-family: 'Bebas';
    src: url('./Fonts/BebasNeue-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('./Fonts/Manrope-VariableFont_wght.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
:root {
    --font-family-heading: 'Bebas', arial;
    --font-family-text: 'Manrope', tahoma;
    --color-black: #000;
    --color-white: #fff;
    --color-violet: #676BFF;
    --color-gray: rgb(165, 165, 165);
    --color-semi-transparent: rgba(255, 255, 255, 0.171);
    --font-size-subheading: 32px;
    --font-size-heading-1: 101px;
    --font-size-heading-2: 76px;
    --font-size-secondary-1: 18px;
    --font-size-secondary-2: 16px;
    --font-size-subheading-mobile: 28px;
    --font-size-heading-1-mobile: 57px;
    --font-size-heading-2-mobile: 43px;
    --button-height: 54px;
    --button-height-mobile: 48px;
    --button-border-radius: 100px;
    --image-border-radius: 16px;
    --secondary-border-radius: 12px; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.visible {
    max-width: 100% !important;
    max-height: 100% !important;
    transition: 0.5s ease;
}
* {
    transition: 0.2s ease;
}

body {
    box-sizing: border-box;
    font-family: var(--font-family-text) !important;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-secondary-1) !important;
    width: 100vw;
    max-width: 1720px;
    margin-inline: auto !important;
}
li a {
    color: var(--color-white);
    border-radius: var(--button-border-radius);
}
* a:hover {
    transform: scale(1.2);
    background-color: var(--color-semi-transparent);
}
.header {
    width: 90%;
    margin-inline: auto;
    margin-top: 10px;
    position: relative;
}
.logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: var(--font-size-subheading);
    font-family: var(--font-family-heading);
    text-transform: uppercase;
}
.logo-caption{
    margin-left: 10px;
}
.cross-button {
    display: flex;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    background-color: transparent;
    border: none;
}
.burger {
    display: none;
    z-index: 8;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 30px;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    height: 48px;
    padding-inline:20px ;
    margin-inline: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-secondary-2);
    font-weight: 500;

}
.banner {
    margin-top: 30px;
    width: 90%;
    height: 663px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.banner-info {
    width: 40%;
}
.banner-heading {
    font-size: var(--font-size-heading-1);
    font-family: var(--font-family-heading);
    max-height: 100%;
}
.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    color: var(--color-gray);
}
.contacts-list {
    display: flex;
}
.contacts-link {
    height: var(--button-height);
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--button-border-radius);
    text-transform: uppercase;
}
.email-link {
    background-color:var(--color-violet);
    padding-inline: 15px;
    display: flex;
    justify-content: space-around;
    min-width: 140px;
    font-size: var(--font-size-secondary-2);
}
.email-link svg {
    font-size: 16px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: var(--color-white);
}
.email-link:hover {
    transform: scale(1.1);
    background-color: var(--color-violet);
}
.socials {
    height: 35px;
    width: 35px;
    padding: 10px;
    border-radius: var(--button-border-radius);
}
.banner-image {
    height: 665px;
    width: auto;
    border-radius: var(--image-border-radius);
}
.main {
    width: 90%;
    margin-inline: auto;
}
.projects {
    width: 90%;
    margin-inline: auto;
    margin-top: 160px;
    color: var(--color-gray);
}
.projects-title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-2);
    color: var(--color-white);
}
.projects-description {
    font-size: var(--font-size-secondary-1);
    font-weight: 500;
    width: 50%;
    margin-bottom: 80px;
}
.project-page {
    height: 600px;
    margin-bottom: 120px;
    margin-top: 0;
}
.project-image {
    float: left;
    width: 600px;
    height: 600px;
    background-color: var(--color-semi-transparent);
    border-radius: var(--secondary-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 48px;
}
.project-image img {
    width: 485px;
    height: auto;
    border-radius: var(--image-border-radius);
}
.project-title {
    font-size: var(--font-size-subheading);
    padding-top: 60px;
    margin-bottom: 16px;
}
.project-description {
    line-height: 1.5;
    margin-bottom: 32px;
}
.information {
    text-transform: uppercase;
    line-height: 1.5;
    border-bottom: 1px solid var(--color-gray);
    display: flex;
    height: 40px;
    justify-content: start;
    align-items: start;
}
.info-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
}
.links-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 80px;

}
.link {
    padding: 15px;
    text-transform: uppercase;
    color: var(--color-violet);
    border-radius: 0;
    height: 100%;
    width: 100%;
    font-size: var(--font-size-secondary-2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-width: 250px;
}
.link-container {
    margin-right: 30px;
}
.link-container :hover {
    border-bottom:  2px solid var(--color-violet);
    background-color: transparent;
    font-size: var(--font-size-secondary-1);
    font-weight: 700;
   
}
.link svg {
    margin-left: 10px;
    box-sizing: content-box;
    padding: 3px;
}
.arrow {
    width: 16px;
    height: 16px;
}
.link :hover {
    border-bottom: none;
}
.personal {
    width: 90%;
    height: 650px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.personal-image {
    display: none;
}
.personal-title {
    font-size: var(--font-size-heading-1);
    font-family: var(--font-family-heading);
}
.personal-subtitle {
    font-size: var(--font-size-subheading);
    font-weight: 100;
    margin-bottom: 16px;
    color: var(--color-white);
}
.personal-description {
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 50px;
}
.personal-info {
    width: 60%;
    color: var(--color-gray);
    display: flex;
    flex-direction: column;align-items: center;
}
.personal-link {
    margin-right: 0 !important;
}
.footer {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-gray);
    position: relative;
}
.footer-contacts {
    display: flex;
    flex-direction: column;
}
.footer-title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading-2);
    color: var(--color-white);
}
.footer-description {
    margin-block: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}
.footer-description a {
    color: var(--color-violet);
    margin-left: 10px;
}
.footer-description a:hover {
    background-color: transparent;
    transform: scale(1.2);
    transform-origin: left;
}
.footer-nav-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.footer-list-item {
    width: 50px;
    height: 50px;
}
.footer-list-item a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    width: 60%;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}
.contact-form label {
    margin-bottom: 15px;
    margin-top: 40px;
}
.contact-form input,.contact-form textarea {
    height: 50px;
    border: none;
    background-color: var(--color-semi-transparent);
    border-radius: 5px;
    color: var(--color-white);
    font-size: var(--font-size-secondary-1);
    font-family: var(--font-family-text);
}
.contact-form textarea {
    height: 155px;
}
.submit-button {
    height: var(--button-height);
    width: 150px;
    margin-top: 30px;
    border-radius: var(--button-border-radius);
    border: none;
    background-color: var(--color-violet);
    color: var(--color-white);
    text-transform: uppercase;
}
.submit-button:hover {
    transform: scale(1.2);
}
.copyright {
    position: absolute;
    bottom: -150px;
    left: 0;
    font-size: 14px;
}




/*Add media queries here*/

@media only screen and (max-width: 1300px) {
    .banner-heading{
        font-size: 80px;
    }
    .banner-image {
        width: 50%;
        height: auto;
    }
    .project-page {
        height: auto;
    }
    
    .project-image {
        float: none;
        width: 100%;
        height: auto !important;
        aspect-ratio: 1 / 1 !important;
    }
    .project-image img {
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-width: 950px) {
    * a:hover {
        background-color: transparent;
    }
    .header {
        position: relative;
    }
    .logo-image {
        height: 40px;
    }
    .logo-caption{
        font-size: var(--font-size-subheading-mobile);
    }
    .navigation {
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: var(--color-black);
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        display:flex;
        max-width: 0;
        max-height: 0;
        overflow: hidden;
        
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        margin-top: 30px;
    }
    .list-item {
        height: 90px;
        width: 100%;
        border-bottom: 1px solid var(--color-semi-transparent);
    }
    .nav-link {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: start;
        font-family: var(--font-family-heading);
        font-size: 35px;
    }
    .nav-link:hover {
        transform: scale(1);
        font-size: 45px;
    }
    .cross-button {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        z-index: 10;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: end;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 8;
    }
    .burger-container {
        width: 40px;
        height: 40px;
    }
    .burger-container :hover {
        width: 55px;
    }
    .cross-button :hover{
        height: 40px;
        width: 40px;
    }
    .burger span {
        display: flex;
        width: 100%;
        height: 3px;
        background-color: var(--color-white);
        transform: scale(1);
    }
    .banner {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .banner-info {
        width: 100%;
        margin: 0;
        margin-top: 50px;
    }
    .banner-heading{
        font-size: var(--font-size-heading-1-mobile);
    }
    .contacts-link{
        height: var(--button-height-mobile);
        margin: 0;
        padding: 0;
    }
    .email-link{
        padding-inline: 15px;
    }
    .socials {
        width: 30px;
        height: 30px;
        background-color: var(--color-semi-transparent);
        margin-left: 10px;
    }
    .banner-image{
        width: 100%;
        max-width: 500px;
        height: auto;
        margin-top: 30px;
    }
    .links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .link {
        border-bottom: 3px solid var(--color-violet);
    }
    .projects-description {
        min-width: 280px;
    }
    .personal-title {
        display: none;
    }
    .personal {
        flex-direction: column;
        align-items: center;
        max-height: none;
        height: auto;
        margin-bottom: 100px;
    }
    .personal-info {
        width: 100%;
    }
    .personal-image {
        display: flex;
        width: 100%;
        max-width: 500px;
        margin-top: 60px;
        border-radius: var(--image-border-radius);
    }
}
@media only screen and (max-width: 550px) {
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 60px;
        width: 100%;
        max-width: 100%;
    }
    .link-container {
        width: 100%;
    }
    .links-container {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: auto;
        width: 100%;
    }
    .socials {
        margin-left: 5px;
    }
 }

@media only screen and (max-width: 320px) {
    .email-link svg {
        width: 15px;
        height: 15px;
    }
    .email-link {
        font-size: 13px;
        min-width: 110px;
    }
}

@media only screen and (min-width: 1900px) {
    body {
        transform: scale(1.2);
        transform-origin: top;
    }
}

@media only screen and (min-width: 2560px) {
    body {
        transform: scale(1.5);
        transform-origin: top;
    }
}
